/*Wizard*/

.wizard{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px;
}


.is--active.wizard__process--tab,
.is--complete.wizard__process--tab{
  cursor:pointer;
  color: #FFF;
}

.is--active h3>i{
  color:#fff !important;
}
.is--active.wizard__process--tab{
  background-color: #65CCF7;
}
.is--active.wizard__process--tab:after{
  display: block;
}
.wizard__process--tab:after{
  display: none;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: -15px;
  border-left: 60px solid #65CCF7;
  border-bottom: 80px solid transparent;
  border-top: 20px solid transparent;
}
.wizard__process--tab:first-child{
  border-top: inherit
}
.wizard__process--tab{
  position: relative;
  width: 100%;
  color: #FFF;
  background-color: #9C9C9C;
  padding: 20px 35px 20px 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  border-top: 1px solid #ccc;
}
.wizard__process:first-child{display: block;}
.wizard__process{   
  box-shadow: 1px 1px 4px 1px #DDDDDD;
  border-radius: 4px;
  border-top: 3px solid #65CCF7;
  display: none;
}



.wizard__process-is--icon__check:after{
  content: '';
  position: absolute;
  bottom: -6px;
  z-index: -1;
  left: 0px;
  width: 0;
  height: 0;
  border-right: 11px solid rgba(44, 40, 114, 0.87);
  border-bottom: 6px solid transparent;
}
.is--complete .wizard__process-is--icon__check{display: block;}
.wizard__process-is--icon__check i{font-size:15px}
.wizard__process-is--icon__check{
  display: none;
  position: absolute;
  top:5px;
  left: -10px;
  width: 28px;
  text-align: center;
  background: #2C2872;
  height: 20px;
  line-height: 26px;
  color: white;
}
.wizard__process-is--icon__arrow{
  position: absolute;
  right: 10px;
  top: 2px;
  color: #FFF;
}
.is--complete .wizard__process--titulo>i{
  color:#2C2874;
}
.wizard__process--titulo>i{
  position: absolute;
  right: 10px;
  position: absolute;
  top: 21px;
  z-index: 3;
}
.wizard__process--titulo{
  padding: 0px;
  font-size: 20px;                                                        
  line-height: 21px;
  margin: 0;
}
.wizard__lista_conocimiento--nuevo:not(:first-child),
.wizard__lista_laboral--nuevo:not(:first-child),
.wizard__lista_cursos--nuevo:not(:first-child),
.wizard__lista_estudios--nuevo:not(:first-child){
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.message--general2 p{
  padding: 7px 0 !important;
  background-color: #FF3838;
  color: white;
  font-size: 17px
}
.message--general p{
  padding: 88px 0 !important;
}
.wizard__tiempo{
  margin: 10px 0 40px 0;
}
.wizard__tiempo__acumulado{
}

.jFiler-theme-default .jFiler-input{width: 100% !important}

@media only screen and (max-width: 768px){
  .wizard{
    padding: 10px
  }
  .wizard__process--tab:after{
    display:none !important;
  }
}


