@font-face {
  font-family: "Helvetica";
  src: url("../../fonts/Helvetica/Helvetica-webfont.eot");
  src: url("../../fonts/Helvetica/Helvetica-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/Helvetica/Helvetica-webfont.woff") format("woff"), url("../../fonts/Helvetica/Helvetica-webfont.ttf") format("truetype"), url("../../fonts/Helvetica/Helvetica-webfont.svg#Helvetica") format("svg");
  font-style: normal;
  font-weight: normal;
}