.c--grey{
	color: #9C9C9C;
}
.c--rate{
	color: #797979;
}
.c--error{
	color: #FF3838;
}
.c--sky{
  color: #65CCF7;
}
.bgc--sky{
  background-color: #65CCF7;
}
.c--blue{
  color: #008BCF;
}
.bgc--blue{
  background-color: #008BCF;
}
.c--purple{
  color: #2C2874;
}
.bgc--purple{
  background-color: #2C2874;
}
.p--10{padding: 10px;}
.p--20{padding: 20px;}

.p_l--5{padding-left: 5px}

.p_t--30{padding-top: 30px;}
.p_b--30{padding-top: 30px;}
.p_l--10{padding-left: 10px;}
.p_r--10{padding-right: 10px;}

.p_b--10{padding-bottom: 10px;}
.m_b--10{margin-bottom: 10px;}
.p_b--20{padding-bottom: 20px;}
.m_b--20{margin-bottom: 20px;}

.ta--c{text-align: center;}
.ta--r{text-align: right;}
.ta--l{text-align: left;}

.va--m{vertical-align: middle;}
.w--10{width: 10%}
.w--20{width: 20%}
.w--30{width: 30%}
.w--40{width: 40%}
.w--50{width: 50%}
.w--60{width: 60%}
.w--70{width: 70%}
.w--80{width: 80%}
.w--90{width: 90%}
.w--100{width: 100%}

.o_f--h{overflow: hidden;}
.f_s--i{font-style: italic;}

.transform__rotate--180{
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.p--r{position: relative;}
.d--i-b{display: inline-block;}

.f_s--25{font-size: 25px}
.f_s--22{font-size: 22px}
.f_s--20{font-size: 20px}
.f_s--18{font-size: 18px}
.f_s--15{font-size: 15px}
.f_s--13{font-size: 13px}

.v_a--1{vertical-align: 1px}
.v_a--2{vertical-align: 2px}
.v_a--3{vertical-align: 3px}
.v_a--4{vertical-align: 4px}
.v_a--5{vertical-align: 5px}