h1{
  font-size: 28px !important;
  font-family: "Roboto-bold";
  color: #777;
  margin: 0 !important;
  padding: 0 !important;
}
p{
  color: #797979;
  padding: 0 !important;
  margin: 0 0 7px 0 !important;
}

/* Reset Template */
.mdl-layout__header-row,
.mdl-layout__drawer-button{
  background-color: #26E1EA !important;
}

.tabla{display: table;width: 100%;}
.tabla__celda{display: table-cell;}

.form-control--is-both select{
  border-radius: 4px 0 0 4px
}
.form-control--is-both input{
  border-radius: 0 4px 4px 0;
  border-left:0;
}

.btn__eliminar:hover{
  background-color: #2C2872 !important;
}
.btn__eliminar{
  background-color: #ddd;
  color: #FFF;
}
.btn__eliminar--store{
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 2;
}

.btn__submit,
.btn__next:hover{
  background-color: #2C2872;
  color: #FFF;
}

.btn__normal:hover{background-color: #9C9C9C;color: white}

.btn__prev:hover{background-color: #565656;color: #fff !important;}
.btn__prev{
  padding: 10px 20px;
  background-color: #9C9C9C;
  color: #FFF;
}

.btn__submit,
.btn__next{
  padding: 10px 20px;
  background-color: #008BCF;
  color: #FFF;  
}
button[class*='btn__'] i{vertical-align: -7px}
button[class*='btn__']{
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}

/*Validate*/
.success em{display: none !important;}
.error em{display: inline-block !important;}

.error .form-control{
  border-color: #FF3838;
}

.validate__element{position: relative;}
.validate__element em:after{
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -5px;
  left: 0px;
  border-left: 12px solid #FF3838;
  border-top: 5px solid transparent; 
}

.validate__element em{
  z-index: 2;
  font-style: italic;
  font-size: 12px;
  padding: 1px 5px;
  position: absolute;
  bottom: -18px;
  left: 31px;
  background-color: #FF3838;
  color: #FFF;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border-top-left-radius: 0px !important
}